.card {
  height: 400px;
  margin: 0.1px;
  img {
    height: 200px !important;
    object-fit: contain;
    .card-body {
      height: 200px !important;
    }
  }
}
.card-text {
  height: 50px !important;
  overflow: hidden;
}
.row > * {
  padding: 5px;
}
.img-b {
  width: 100%;
  padding: 10px 0px;
}
h1{
    padding:10px 0px;
    color: #FB7979;
    text-decoration: underline;

}
